<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<!-- local.conf file to configure local font access -->
<fontconfig>

<!-- 
  Additional font directory list

  Find fonts in these directories and their subdirectories

  You can add directories if you have additional fonts.
  Example:

<dir>c:/w32tex/share/texmf-dist/fonts/opentype</dir>
<dir>c:/w32tex/share/texmf-dist/fonts/truetype</dir>
<dir>c:/w32tex/share/texmf-local/fonts/opentype</dir>
<dir>c:/w32tex/share/texmf-local/fonts/truetype</dir>

  Rename this file "local.conf.dist" to "local.conf"
  after editing.
-->


</fontconfig>
